.venv/
.git/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
tests/fixtures/temp*
radon_report.txt
coverage.xml
coverage.json
.coverage
.env
.env.*
.ssh/
.agent
.github
.flake8
mypy.ini
install_dependencies.ps1
run_tests_with_coverage.ps1
docs/
assets/
instructions.md
coverage.svg
LICENSE
README.md
